@{
    bool isLoggedIn = User.Identity.IsAuthenticated; // Check if the user is logged in
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cimeri</title>
    <meta property="og:title" content="Cimeri" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Source Sans Pro;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
          data-tag="font" />

    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>
</head>
<body>
    <div>
        <link href="~/css/home.css" rel="stylesheet" />

        <div class="home-container">
            <section class="home-hero">
                <div class="home-background"></div>
                <header data-thq="thq-navbar" class="home-navbar">
                    <img alt="image" src="~/css/public/c-white-200w.png" class="home-image" />
                    <div data-thq="thq-navbar-nav"
                         data-role="Nav"
                         class="home-desktop-menu">
                        <nav data-thq="thq-navbar-nav-links"
                             data-role="Nav"
                             class="home-nav">
                            <span class="navLink">
                                <a href="/">Почетна</a>
                            </span>
                            
                            <span class="navLink">
                                <a href="/MyProfile">Мој профил</a>
                            </span>
                        </nav>
                        @if (isLoggedIn)
                        {

                            <a href="/Account/Logout" class="button">
                                <span>Одјави се</span>
                                <svg viewBox="0 0 1024 1024" class="home-icon">
                                    <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                                </svg>
                            </a>
                        }
                        else
                        {
                            <a href="/Account/Login" class="button">
                                <span>Најава/Регистрација</span>
                                <svg viewBox="0 0 1024 1024" class="home-icon">
                                    <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                                </svg>
                            </a>
                        }
                    </div>
                   
                </header>
                <div class="home-hero-content">
                    <div class="home-container2">
                        <h1 class="home-text07">Брзо и лесно најди&nbsp;</h1>
                        <img alt="image"
                             src="~/css/public/cimeri-white-200h.png"
                             class="home-image1" />
                    </div>
                    <div class="home-container3">


                        <a class="home-register2 button-style-1 button" href="/CimeriPost">
                            <span class="home-text08">
                                <span>Најди</span>
                                <br />
                            </span>
                            <img alt="image" src="~/css/public/cimeri-white-200h.png" class="home-image2" />
                        </a>
                    </div>
                </div>
            </section>
            <section class="home-notes">
                <div class="home-first">
                    <div data-aos="fade-up-right" class="home-content">
                        <h2 class="home-header">Што нудиме ние?</h2>
                        <div class="home-list">
                            <div class="home-note">
                                <div class="home-point"></div>
                                <p class="home-text17">
                                    Брзо и лесно добивање на контакт од луѓе што исто така
                                    бараат цимер или цимери!
                                </p>
                            </div>
                            <div class="home-note1">
                                <div class="home-point1"></div>
                                <p class="home-text18">
                                    Пребарување и филтрирање по внимателно и прецизно дефинирани
                                    критериуми како буџет и местоположба, но и други критериуми
                                    како секојдневни навики, години на возраст, желби или слично,
                                    се со цел да дојдете до перфектниот цимер за вас!
                                </p>
                            </div>
                        </div>
                        <button class="button button-style-2 home-learn-more">
                            <span>
                                <span>Дознај повеќе</span>
                                <br />
                            </span>
                            <svg viewBox="0 0 1024 1024" class="home-icon12">
                                <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                            </svg>
                        </button>
                    </div>
                    <img alt="image"
                         src="~/css/public/landing-page-1-700w.jpg"
                         class="home-image3" />
                </div>
                <div class="home-second">
                    <div data-aos="fade-up-left" class="home-content1">
                        <h2 class="home-header1">
                            Помогнете ни да направиме ја направиме услугата Цимери подобра - </br> Приклучете се на нашата анкета!
                        </h2>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1-cs2kAUBWKSh5UqrUSbuQyYR-wEm1Hmc0Fic4Vhh-NqY2g/viewform?usp=sf_link" target="_blank">
                            <button class="button button-style-2 home-learn-more1">
                                <span>
                                    <span>Оди до анкетата!</span>
                                    <br />
                                </span>
                                <svg viewBox="0 0 1024 1024" class="home-icon14">
                                    <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                                </svg>
                            </button>
                        </a>

                    </div>
                    <img alt="image"
                         src="~/css/public/landing-page-2-700h.jpg"
                         class="home-image4" />
                </div>
            </section>
            <section class="home-quote">
                <div class="home-content2">
                    <h2 class="home-quoted">
                        <span>
                            "A good roommate is like a ray of sunshine on a cloudy day,
                            except they also help with the dishes."
                        </span>
                        <br />
                        <span>- Anonymous</span>
                    </h2>
                </div>
            </section>
            <footer class="home-footer">
                <div class="home-content3">
                    <div class="home-details">
                        <h2 class="home-title">Cimeri.mk</h2>
                    </div>
                    <div class="home-socials">
                        <img alt="image"
                             src="~/css/public/linkedin-200h.png"
                             class="home-image5" />
                        <img alt="image"
                             src="~/css/public/instagram-200h.png"
                             class="home-image6" />
                    </div>
                    <span class="home-copyright">
                        Privacy — Terms &amp; Conditions — Code of Conduct © 2023 Blagoja
                        Nikoloski All Rights Reserved
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <script data-section-id="navbar"></script>
</body>
</html>
