.cimer-post-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cimer-post-hero {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/grainy-1500w.png");
  background-position: center;
}
.cimer-post-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.cimer-post-image {
  width: 59px;
  height: 89px;
  object-fit: cover;
}
.cimer-post-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: flex;
}
.cimer-post-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cimer-post-icon {
  width: 16px;
  height: 16px;
}
.cimer-post-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.cimer-post-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cimer-post-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.cimer-post-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.cimer-post-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.cimer-post-text01 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.cimer-post-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cimer-post-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cimer-post-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cimer-post-button-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.cimer-post-login {
  margin-right: var(--dl-space-space-twounits);
}
.cimer-post-icon-group {
  display: flex;
  z-index: 20;
}
.cimer-post-icons {
  display: flex;
}
.cimer-post-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.cimer-post-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.cimer-post-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cimer-post-background1 {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.cimer-post-notes {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.cimer-post-first {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cimer-post-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cimer-post-header {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.cimer-post-list {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cimer-post-note {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.cimer-post-point {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.cimer-post-text07 {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.cimer-post-note1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.cimer-post-point1 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.cimer-post-text08 {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.cimer-post-note2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.cimer-post-point2 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.cimer-post-text09 {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.cimer-post-note3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.cimer-post-text10 {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.cimer-post-second {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.cimer-post-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.cimer-post-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cimer-post-header1 {
  width: 100%;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
}
.cimer-post-header2 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
}
.cimer-post-header3 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
}
.cimer-post-container03 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.cimer-post-container04 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text13 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-select {
  width: 100%;
  height: 57px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.cimer-post-container05 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text14 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-text16 {
  color: var(--dl-color-gray-500);
}
.cimer-post-textinput {
  width: 100%;
  height: 57px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.cimer-post-container06 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.cimer-post-container07 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text17 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-select1 {
  width: 100%;
  height: 57px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.cimer-post-container08 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text18 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-select2 {
  width: 100%;
  height: 57px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.cimer-post-container09 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.cimer-post-container10 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text19 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-text22 {
  color: var(--dl-color-gray-500);
}
.cimer-post-textinput1 {
  width: 100%;
  height: 57px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.cimer-post-container11 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text24 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-select3 {
  width: 100%;
  height: 57px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.cimer-post-container12 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.cimer-post-container13 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text25 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-select4 {
  width: 100%;
  height: 57px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.cimer-post-container14 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text28 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-select5 {
  width: 100%;
  height: 57px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.cimer-post-container15 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.cimer-post-container16 {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cimer-post-text29 {
  font-size: 150%;
  text-align: center;
}
.cimer-post-text31 {
  color: var(--dl-color-gray-500);
}
.cimer-post-container17 {
  width: 100%;
  height: 150px;
  display: flex;
  overflow-y: auto;
  align-items: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.cimer-post-container18 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text32 {
  font-size: 25px;
}
.cimer-post-container19 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text33 {
  font-size: 25px;
}
.cimer-post-container20 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text36 {
  font-size: 25px;
}
.cimer-post-container21 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text37 {
  font-size: 25px;
}
.cimer-post-container22 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text38 {
  font-size: 25px;
}
.cimer-post-container23 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text39 {
  font-size: 25px;
}
.cimer-post-container24 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text40 {
  font-size: 25px;
}
.cimer-post-container25 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text41 {
  font-size: 25px;
}
.cimer-post-container26 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text42 {
  font-size: 25px;
}
.cimer-post-container27 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text43 {
  font-size: 25px;
}
.cimer-post-container28 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text44 {
  font-size: 25px;
}
.cimer-post-container29 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text45 {
  font-size: 25px;
}
.cimer-post-container30 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.cimer-post-text46 {
  font-size: 25px;
}
.cimer-post-learn-more {
  gap: var(--dl-space-space-halfunit);
  align-self: center;
}
.cimer-post-text47 {
  font-size: 25px;
}
.cimer-post-image1 {
  width: 90px;
  height: 22px;
  object-fit: cover;
}
.cimer-post-icon12 {
  width: 16px;
  height: 16px;
}
.cimer-post-quote {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: center;
  background-color: #b3a2df;
}
.cimer-post-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
}
.cimer-post-quoted {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
}
.cimer-post-footer {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-size: cover;
  background-image: url("public/grainy-1500w.png");
}
.cimer-post-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.cimer-post-details {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.cimer-post-title {
  color: var(--dl-color-gray-900);
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.cimer-post-socials {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: row;
}
.cimer-post-image2 {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.cimer-post-image3 {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.cimer-post-copyright {
  color: var(--dl-color-gray-900);
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
@media(max-width: 991px) {
  .cimer-post-first {
    flex-direction: column;
  }
  .cimer-post-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .cimer-post-second {
    flex-direction: column;
  }
  .cimer-post-content1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .cimer-post-header1 {
    width: 100%;
  }
  .cimer-post-header2 {
    width: 100%;
  }
  .cimer-post-header3 {
    width: 100%;
  }
  .cimer-post-quote {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .cimer-post-hero {
    height: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .cimer-post-desktop-menu {
    display: none;
  }
  .cimer-post-burger-menu {
    display: flex;
  }
  .cimer-post-icon02 {
    fill: white;
  }
  .cimer-post-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .cimer-post-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .cimer-post-text01 {
    color: #000000;
  }
  .cimer-post-nav2 {
    gap: var(--dl-space-space-unit);
  }
  .cimer-post-text02 {
    color: #000000;
  }
  .cimer-post-text03 {
    color: rgb(0, 0, 0);
  }
  .cimer-post-text04 {
    color: rgb(0, 0, 0);
  }
  .cimer-post-text05 {
    color: rgb(0, 0, 0);
  }
  .cimer-post-text06 {
    color: rgb(0, 0, 0);
  }
  .cimer-post-button-container {
    gap: var(--dl-space-space-unit);
    width: 50%;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .cimer-post-login {
    width: 100%;
    border-width: 1px;
    margin-right: 0px;
  }
  .cimer-post-register1 {
    width: 100%;
    border-width: 1px;
  }
  .cimer-post-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .cimer-post-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .cimer-post-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .cimer-post-learn-more {
    width: 100%;
  }
  .cimer-post-quote {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .cimer-post-quoted {
    font-size: 20px;
    line-height: 30px;
  }
  .cimer-post-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .cimer-post-content3 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .cimer-post-title {
    font-size: 24px;
    line-height: 34px;
  }
  .cimer-post-socials {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .cimer-post-mobile-menu {
    padding: 16px;
  }
  .cimer-post-button-container {
    width: 100%;
  }
  .cimer-post-icon-group {
    justify-content: center;
  }
  .cimer-post-header {
    font-size: 30px;
    line-height: 36px;
  }
  .cimer-post-list {
    gap: var(--dl-space-space-unit);
  }
  .cimer-post-point {
    width: 100%;
    max-width: 20px;
  }
  .cimer-post-text07 {
    font-size: 16px;
    line-height: 24px;
  }
  .cimer-post-point1 {
    width: 100%;
    max-width: 20px;
  }
  .cimer-post-text08 {
    font-size: 16px;
    line-height: 24px;
  }
  .cimer-post-point2 {
    width: 100%;
    max-width: 20px;
  }
  .cimer-post-text09 {
    font-size: 16px;
    line-height: 24px;
  }
  .cimer-post-text10 {
    font-size: 16px;
    line-height: 24px;
  }
  .cimer-post-content1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
  }
  .cimer-post-header1 {
    font-size: 30px;
    line-height: 36px;
  }
  .cimer-post-header2 {
    font-size: 30px;
    line-height: 36px;
  }
  .cimer-post-header3 {
    font-size: 30px;
    line-height: 36px;
  }
  .cimer-post-content2 {
    gap: var(--dl-space-space-twounits);
  }
}
