<div>
  <link href="./feature-card3.css" rel="stylesheet" />
  <div class="feature-card3-feature-card">
    <img alt="image" src="public/c-grey-200w.png" class="feature-card3-image" />
    <h2 class="feature-card3-text"><span>Name</span></h2>
    <h2 class="feature-card3-text1"><span>21</span></h2>
    <span class="feature-card3-text2"><span>E-Пошта :</span></span>
    <span class="feature-card3-text3"><span>дасдасдасд@gmail.com</span></span>
    <span class="feature-card3-text4"><span>Телефонски број:</span></span>
    <span class="feature-card3-text5"><span>071234567</span></span>
    <div class="feature-card3-container">
      <h2 class="feature-card3-text6"><span>Совпаѓање: 25%</span></h2>
    </div>
  </div>
</div>
