<div>
  <link href="./feature-card2.css" rel="stylesheet" />
  <div class="feature-card2-feature-card">
    <div class="feature-card2-container">
      <img
        alt="image"
        src="public/c-grey-200w.png"
        class="feature-card2-image"
      />
    </div>
    <div class="feature-card2-container1">
      <div class="feature-card2-container2">
        <h2 class="feature-card2-text"><span>Оглас за цимер број: 1</span></h2>
        <button type="button" class="feature-card2-button button">
          <span>Edit</span>
        </button>
        <button type="button" class="feature-card2-button1 button">
          <span>Delete</span>
        </button>
      </div>
      <div class="feature-card2-container3">
        <span><span>Град: Скопје</span></span>
        <span><span>Буџет: 3000</span></span>
        <span><span>Ист пол: Да</span></span>
        <span><span>Студент: Не</span></span>
        <span><span>Број на цимери: 3</span></span>
        <span><span>Време на живеење: 1 Година</span></span>
        <span><span>Пушач: Да</span></span>
        <span><span>Гости: Не</span></span>
        <span><span>Музика: Рок,Поп</span></span>
      </div>
    </div>
  </div>
</div>
